<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFDateHelper.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Alamofire.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Freddy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>JSQMessagesViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>JSQSystemSoundPlayer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>MBProgressHUD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PeopleMonapp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SnapKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Valet.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20156CAD28812E55F1D2E5A8EF69C510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B1714E816AE794962516E2ECBB40A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88E9EC28B8B46C3631E6B242B50F4442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B5CD5895FE289B4870B26D47DD4CA1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92C978222374EEBB941EDA9BC290B8C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ADF74A92DB37BCA9991356E7AC5F6FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7DCF2B547F7871B9BFD74DE93B0E173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0581AF7BF4A6DA140D280B19ECC7BFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C9AEDE2FB129153E2C64F16A3699F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
